# PostgreSQL settings
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

# Minio (S3) settings
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=
MINIO_EXTERNAL_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=

# Service settings
FILES_SERVICE_PORT=8003
SERVICE_TOKEN=
AUTH_SERVICE_URL=
