POSTGRES_USER=
POSTGRES_PASSWORD=

AUTH_DB_NAME=
TODO_DB_NAME=
FILES_DB_NAME=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

KAFKA_BROKER_URL=

REDIS_HOST=
REDIS_PORT=
